### Preperation

In [1]:
!pip install torchviz

Requirement already satisfied: torchviz in c:\users\anush\anaconda3\envs\mleng\lib\site-packages (0.0.2)
Requirement already satisfied: torch in c:\users\anush\anaconda3\envs\mleng\lib\site-packages (from torchviz) (2.0.1)
Requirement already satisfied: graphviz in c:\users\anush\anaconda3\envs\mleng\lib\site-packages (from torchviz) (0.20.1)
Requirement already satisfied: filelock in c:\users\anush\anaconda3\envs\mleng\lib\site-packages (from torch->torchviz) (3.9.0)
Requirement already satisfied: typing-extensions in c:\users\anush\anaconda3\envs\mleng\lib\site-packages (from torch->torchviz) (4.9.0)
Requirement already satisfied: sympy in c:\users\anush\anaconda3\envs\mleng\lib\site-packages (from torch->torchviz) (1.11.1)
Requirement already satisfied: networkx in c:\users\anush\anaconda3\envs\mleng\lib\site-packages (from torch->torchviz) (3.1)
Requirement already satisfied: jinja2 in c:\users\anush\anaconda3\envs\mleng\lib\site-packages (from torch->torchviz) (3.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\anush\anaconda3\envs\mleng\lib\site-packages (from jinja2->torch->torchviz) (2.1.1)
Requirement already satisfied: mpmath>=0.19 in c:\users\anush\anaconda3\envs\mleng\lib\site-packages (from sympy->torch->torchviz) (1.3.0)

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split

# PyTorch modules
import torch
import torch.nn as nn
import torch.optim as optim # optim is a package implementing optimization algorithms
import torch.nn.functional as F # nn.functional contains some loss functions and other utilities
from torch.utils.data import Dataset, DataLoader # dataloader is used for dividing dataset into batches

from torchviz import make_dot, make_dot_from_trace # for visualizing computational graph
from tqdm.notebook import tqdm # for displaying progress bar

In [3]:
train=pd.read_csv('train.csv',index_col='id')
test=pd.read_csv('test.csv',index_col='id')

TARGET='target'
RANDOM_STATE=2021

In [4]:
# check for duplicated rows
print(f"Duplicated rows: {train.drop(TARGET,axis=1).duplicated().sum()}")
# drop duplicate rows
train=train[~train.drop('target',axis=1).duplicated()]
train.shape

Duplicated rows: 4

(99996, 51)

In [5]:
# train data summary
train.describe().T

              count      mean       std  min  25%  50%  75%   max
feature_0   99996.0  0.257840  0.929050  0.0  0.0  0.0  0.0  10.0
feature_1   99996.0  0.431737  1.977899  0.0  0.0  0.0  0.0  31.0
feature_2   99996.0  0.114135  0.519593  0.0  0.0  0.0  0.0   6.0
feature_3   99996.0  0.590574  1.844591  0.0  0.0  0.0  0.0  26.0
feature_4   99996.0  0.599794  2.785584  0.0  0.0  0.0  0.0  38.0
feature_5   99996.0  0.160826  0.601161  0.0  0.0  0.0  0.0  10.0
feature_6   99996.0  0.731519  2.343507  0.0  0.0  0.0  0.0  27.0
feature_7   99996.0  1.228959  2.692778  0.0  0.0  0.0  1.0  31.0
feature_8   99996.0  0.903386  3.415321  0.0  0.0  0.0  0.0  39.0
feature_9   99996.0  0.940158  1.904201  0.0  0.0  0.0  1.0  17.0
feature_10  99996.0  0.313693  1.121189  0.0  0.0  0.0  0.0  16.0
feature_11  99996.0  0.403766  1.011435  0.0  0.0  0.0  0.0  12.0
feature_12  99996.0  0.461488  1.128747  0.0  0.0  0.0  0.0  11.0
feature_13  99996.0  0.075653  0.359017  0.0  0.0  0.0  0.0   3.0
feature_14  99996.0  2.597414  4.655161  0.0  0.0  1.0  3.0  51.0
feature_15  99996.0  1.242080  2.160140  0.0  0.0  0.0  2.0  20.0
feature_16  99996.0  0.364845  1.284175  0.0  0.0  0.0  0.0  19.0
feature_17  99996.0  0.740010  1.819416  0.0  0.0  0.0  0.0  16.0
feature_18  99996.0  0.471239  1.096441  0.0  0.0  0.0  0.0  13.0
feature_19  99996.0  1.564843  4.749534 -2.0  0.0  0.0  1.0  55.0
feature_20  99996.0  0.242900  0.927478  0.0  0.0  0.0  0.0  17.0
feature_21  99996.0  0.661996  2.182743  0.0  0.0  0.0  0.0  36.0
feature_22  99996.0  0.184747  0.553864  0.0  0.0  0.0  0.0   4.0
feature_23  99996.0  0.388056  1.215818  0.0  0.0  0.0  0.0  19.0
feature_24  99996.0  1.040172  2.539953  0.0  0.0  0.0  1.0  34.0
feature_25  99996.0  0.408646  1.321693  0.0  0.0  0.0  0.0  23.0
feature_26  99996.0  0.353564  1.491965  0.0  0.0  0.0  0.0  21.0
feature_27  99996.0  0.300692  1.592123  0.0  0.0  0.0  0.0  31.0
feature_28  99996.0  1.106104  1.879654  0.0  0.0  0.0  2.0  23.0
feature_29  99996.0  0.169607  0.739596  0.0  0.0  0.0  0.0  13.0
feature_30  99996.0  0.294512  1.352988 -1.0  0.0  0.0  0.0  41.0
feature_31  99996.0  1.372095  3.319380 -1.0  0.0  0.0  1.0  46.0
feature_32  99996.0  0.277521  1.460733 -2.0  0.0  0.0  0.0  27.0
feature_33  99996.0  0.612484  2.283637  0.0  0.0  0.0  0.0  24.0
feature_34  99996.0  1.122195  2.493084  0.0  0.0  0.0  1.0  25.0
feature_35  99996.0  0.909016  2.952358 -2.0  0.0  0.0  0.0  43.0
feature_36  99996.0  0.116535  0.411021  0.0  0.0  0.0  0.0   3.0
feature_37  99996.0  0.398326  1.095287  0.0  0.0  0.0  0.0  14.0
feature_38  99996.0  2.997290  5.386625 -8.0  0.0  1.0  4.0  66.0
feature_39  99996.0  0.674667  3.732500 -5.0  0.0  0.0  0.0  66.0
feature_40  99996.0  0.712288  1.721892  0.0  0.0  0.0  1.0  21.0
feature_41  99996.0  0.582093  2.003150  0.0  0.0  0.0  0.0  32.0
feature_42  99996.0  0.529251  2.300869 -2.0  0.0  0.0  0.0  37.0
feature_43  99996.0  0.616335  2.360999  0.0  0.0  0.0  0.0  33.0
feature_44  99996.0  0.135105  0.627604  0.0  0.0  0.0  0.0   9.0
feature_45  99996.0  0.358674  1.464215  0.0  0.0  0.0  0.0  26.0
feature_46  99996.0  0.516831  2.171456  0.0  0.0  0.0  0.0  29.0
feature_47  99996.0  0.390056  1.487378  0.0  0.0  0.0  0.0  25.0
feature_48  99996.0  0.970889  2.576660  0.0  0.0  0.0  1.0  44.0
feature_49  99996.0  0.557142  1.680960  0.0  0.0  0.0  0.0  20.0

In [7]:
X=train.drop(columns=[TARGET],axis=1)
X.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,0,1,0,0,0,0,0,...,3,0,0,21,0,0,0,0,0,0
1,0,0,0,0,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,2,...,0,0,1,0,0,0,0,13,2,0
3,0,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [8]:
X.shape

(99996, 50)